.tabelBagus {
    border: 1px solid #dddddd !important;
    text-align: left !important;
    padding: 8px !important;
    // width: 50px !important;
    // height: 100% !important;
    box-sizing: content-box

}